body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(60deg, dodgerblue, darkblue);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.89);
  width: 250px;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card h2 {
  margin: 0;
  color: #fff;
}
.card p {
  color: #ccc;
  margin-bottom: 20px;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.btns a {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  transition: background 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}
.btns a:hover {
  background: rgba(255, 255, 255, 0.4);
}
