html {
  height: 100%;
}
body {
  margin: 0;
}

.bg {
  background-image: linear-gradient(-60deg, rgb(77, 194, 248) 50%, #132ad8 50%);
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  position: fixed;
  opacity: 0.5;
  animation: slide 3s ease infinite alternate;
  -webkit-animation: slide 3s ease infinite alternate;
}
.content {
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  color: blanchedalmond;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-size: 25px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
  }
}
.bg2 {
  animation-duration: 4s;
  animation-direction: alternate-reverse;
}
.bg3 {
  animation-duration: 6s;
  animation-direction: alternate;
}
