body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

}

.container {
  background-color: black;
  filter: contrast(1);
  -webkit-filter: contrast(1);
  position: relative;
  top: 50%;
}

p {
  color: white;
  font-size: 100px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  filter: opacity(0);
  -webkit-filter: opacity(0);
  animation: show 15s infinite;
  -webkit-animation: show 15s infinite;
}

p:nth-child(1) {
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  animation-direction: normal;
}

p:nth-child(2) {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  animation-direction: reverse;
  animation-delay: -2s;
}
@keyframes show {
  0%,100% {
    filter: opacity(0) blur(0.05em);
    -webkit-filter: opacity(0) blur(0.05em);
    letter-spacing: -0.8em;
}
  20%,80% {
    filter: opacity(1) blur(0.03em);
    -webkit-filter: opacity(1) blur(0.03em);
}

  60% {
    filter: opacity(0) blur(0.01em);
    -webkit-filter: opacity(0) blur(0.01em);
    letter-spacing: 0.24em;
}
}
