body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body {
  background-color: black;
  text-align: center;
}
body:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.wall {
  background-image: url(abc.jpg);
  background-size: cover;
  overflow: hidden;
}

.scene {
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}
.wall {
  height: 100%;
  width: 100%;
  position: absolute;
}
.wrap {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  -webkit-animation: move 12s infinite linear;
}

.right {
  transform: rotateY(90deg) translateZ(500px);
  -webkit-transform: rotateY(90deg) translateZ(500px);
  -moz-transform: rotateY(90deg) translateZ(500px);
  -ms-transform: rotateY(90deg) translateZ(500px);
  -o-transform: rotateY(90deg) translateZ(500px);
}
.left {
  transform: rotateY(-90deg) translateZ(500px);
  -webkit-transform: rotateY(-90deg) translateZ(500px);
  -moz-transform: rotateY(-90deg) translateZ(500px);
  -ms-transform: rotateY(-90deg) translateZ(500px);
  -o-transform: rotateY(-90deg) translateZ(500px);
}
.top {
  transform: rotateX(90deg) translateZ(500px);
  -webkit-transform: rotateX(90deg) translateZ(500px);
  -moz-transform: rotateX(90deg) translateZ(500px);
  -ms-transform: rotateX(90deg) translateZ(500px);
  -o-transform: rotateX(90deg) translateZ(500px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(500px);
  -webkit-transform: rotateX(-90deg) translateZ(500px);
  -moz-transform: rotateX(-90deg) translateZ(500px);
  -ms-transform: rotateX(-90deg) translateZ(500px);
  -o-transform: rotateX(-90deg) translateZ(500px);
}
.back {
  transform: rotateX(180deg) translateZ(500px);
  -webkit-transform: rotateX(180deg) translateZ(500px);
  -moz-transform: rotateX(180deg) translateZ(500px);
  -ms-transform: rotateX(180deg) translateZ(500px);
  -o-transform: rotateX(180deg) translateZ(500px);
}
@keyframes move {
  0% {
    transform: translateZ(-500px) rotate(0deg);
    -webkit-transform: translateZ(-500px) rotate(0deg);
    -moz-transform: translateZ(-500px) rotate(0deg);
    -ms-transform: translateZ(-500px) rotate(0deg);
    -o-transform: translateZ(-500px) rotate(0deg);
  }
  1000% {
    transform: translateZ(500px) rotate(0deg);
    -webkit-transform: translateZ(500px) rotate(0deg);
    -moz-transform: translateZ(500px) rotate(0deg);
    -ms-transform: translateZ(500px) rotate(0deg);
    -o-transform: translateZ(500px) rotate(0deg);
  }
}
